<div ng-cloak>
  <div ng-show-auth="login">
    Hi, <strong>{{auth.user.displayName}}</strong> |
    <a href="#/logout" ng-click="logout($event)">logout</a>
  </div>

  <button class="btn btn-sm btn-primary" ng-click="login('facebook')" ng-show-auth="logout">Login with Facebook</button>

  <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>
</div>

<div id="form" ng-show-auth="login">
  <form ng-submit="lightCandle()">
    <textarea ng-model="candle"></textarea>
    <button type="submit">Submit</button>
  </form>
</div>

<div id="candles">
  <div class="candle-wrapper" ng-repeat="candle in candles">
    <div class="candle candle-1">
      <img src="/images/flame-1.gif">
    </div>
  </div>
</div>

