<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 info">
        <h1>
          Ruzbeh Kheirabi<br>
          <small>March 1979 - July 2014</small>
        </h1>
        <p>“Out beyond ideas of wrongdoing
        and rightdoing there is a field.
        I'll meet you there.<br><br>

        When the soul lies down in that grass
        the world is too full to talk about.”<br>
        <strong>Rumi</strong>
        </p>

        <br>

        <form id="form" role="form" ng-submit="lightCandle()">
          <!-- <p class="text-muted" ng-show-auth="login">
            <small>
              Hi, <strong>{{auth.user.thirdPartyUserData.first_name}}</strong> &middot;
              <a href="#/logout" ng-click="logout($event)">logout</a>
            </small>
          </p> -->

          <div ng-hide="candleLit">
            <div class="form-group">
              <input class="form-control" placeholder="Your name" required
                ng-model="from">
            </div>
            <div class="form-group">
              <textarea rows="4" class="form-control" placeholder="Your message"
                ng-disabled="!from"
                ng-model="note"></textarea>
            </div>

            <div class="submit">
              <button type="button" class="btn btn-sm btn-block btn-primary"
                ng-disabled="!from"
                ng-click="lightCandle()">Light a candle for Ruzbeh</button>
            </div>
          </div>

          <div class="text-muted" ng-show="candleLit">
            Thank you {{from}}<br>
            <a href="#again" ng-click="lightAnother($event)">Light another?</a>
          </div>
        </form>
      </div>
      <div class="col-md-5 photo">
        <img src="/images/ruzbeh.jpg">
      </div>
    </div>
  </div>
</div>

<div id="candles">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="candle-wrapper"
          ng-repeat="entry in entries | orderBy:timestamp:true"
          ng-style="{'z-index':entry.candle.type, '-webkit-filter':'blur(' + (5 - entry.candle.type) * 0.25 + 'px)'}">

          <div class="candle candle-{{entry.candle.type}}"
            tooltip-append-to-body="true"
            tooltip-placement="top"
            tooltip-html-unsafe="{{entry.note}} <br><strong>{{entry.from}}</strong>">
            <img ng-src="/images/flame-{{entry.candle.flame}}.gif">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

